@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300&display=swap');

$header: 'Abril Fatface', cursive;
$paragraph: 'Roboto', sans-serif;

$mobile: 450px;
$tablet: 768px;
$desktop: 1024px;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  text-decoration: none !important;
}
